<h2><%= @merchant.name %> - Discount #<%= @discount.id %> Details</h2>
<div id='discount_details'>
    <p><b>Percentage Discount:</b> <%= @discount.percentage_discount %>%<br>
    <b>Quantity Threshold:</b> <%= @discount.quantity_threshold %></p>
</div>